.detail-container {
  padding: 0;
}

.detail-photo {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
}

.detail-info {
  padding: 1rem;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

